fastapi==0.115.6
uvicorn[standard]==0.34.0
python-multipart==0.0.20
jinja2==3.1.5
itsdangerous==2.2.0
python-dotenv==1.0.1
cachetools==5.5.0

# AI & LangChain
langchain==0.3.14
langchain-core==0.3.29
langchain-community==0.3.14
langchain-groq==0.2.3
groq==0.15.0
langchain-huggingface==0.1.0
huggingface-hub>=0.27.0
langchain-text-splitters==0.3.5
langgraph==0.2.61

# PDF & Search
pdfplumber==0.11.5
faiss-cpu==1.9.0.post1
duckduckgo-search==7.2.1

# Audio
edge-tts==6.1.9

pinecone==5.4.0
langchain-pinecone==0.2.1
supabase==2.11.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10